* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 250, 250, 0.486);
    box-shadow: 2px 2px 25px snow;
}

.logo {
    position: relative;
    font-weight: 700;
    color: #D6490B;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.logo h1 {
    font-size: 1em;
}

header .ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    display: inline-flex;
    padding: 0 10px;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 10 15px;
    text-decoration: none;
    color: #F59D18;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
}

header ul li a:hover {
    box-shadow: 0px 2px 40px snow, 0px 2px 20px snow, 0px 2px 40px yellow, 0px 2px 60px red;
}

.inicio {
    position: relative;
    padding-top: 20vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
    margin-left: 12vw;
    text-align: center;
    background-image: url("../imagens/jump-fitness-workout.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.inicio h2 {
    position: relative;
    margin-top: 2vh;
    margin-left: -24vw;
    color: #D6490B;
}
.inicio p {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: -24vw;
    color: snow;
    text-shadow: 2px 2px 2px black;
}

#login {
    margin-bottom: 4vh;
    font-size: 18px;
    color: snow;
}

label {
    margin-left: -4vw;
    font-weight: 600;
}

form {
    display: block;
    padding: 45px 100px;
    width: 20vw;
    height: 40vh;
    text-align: left;
    background-color: #f59d1860;
    border-radius: 15px;
    margin-left: 28vw;
    margin-bottom: 2vh;
}

form input {
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-left: -4.2vw;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
    outline: none;
    width: 18vw;
    height: 4vh;
}
form textarea{
    resize: none;
    margin-top: 2vh;
    margin-left: -4.2vw;
    padding: 10px 10px;
    outline: none;
    border: none;
    border-radius: 7px;
    width: 18vw;
    height: 14vh;
}

form button {
    width: 6vw;
    height: 3vh;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    background-color: #D6490B;
    color: snow;
}

form button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

main a {
    text-decoration: none;
    margin-left: -18vw;
    margin-right: 5vw;
    font-weight: 600;
    color: #D6490B;
    transition: 0.6s;
}
main a:hover{
    opacity: 0.8;
}

footer {
    border-top: 1px solid rgba(255, 250, 250, 0.486);
    box-shadow: 2px 2px 25px snow;
    background-color: black;
    width: 100vw;
    height: 40vh;
    color: #D6490B;
}

footer p {
    text-align: center;
    padding-top: 20vh;
    font-size: 24px;
}